<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuovo Hotel</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form #hotelForm="ngForm" (ngSubmit)="addHotel()">
      <div class="mb-3">
        <label for="nome"><span class="required-asterisk">*</span>Nome</label>
        <div class="input-group">
          <input id="nome" name="nome" placeholder="Nome dell'hotel" [(ngModel)]="hotel.name" required />
        </div>

        <label for="address"><span class="required-asterisk">*</span>Indirizzo</label>
        <div class="input-group">
          <input id="address" name="address" placeholder="Indirizzo dell'hotel" [(ngModel)]="hotel.address" required />
        </div>

        <label for="telefono"><span class="required-asterisk">*</span>Telefono</label>
        <div class="input-group">
          <input id="telefono" name="telefono" placeholder="Telefono dell'hotel" [(ngModel)]="hotel.phone" required />
        </div>

        <label for="email"><span class="required-asterisk">*</span>Email</label>
        <div class="input-group">
          <input id="email" name="email" type="email" placeholder="Email dell'hotel" [(ngModel)]="hotel.email" required />
        </div>

        <label for="stelle"><span class="required-asterisk">*</span>Stelle</label>
        <div class="input-group">
          <input id="stelle" name="stelle" type="number" placeholder="Numero di stelle (1-5)" [(ngModel)]="hotel.stars" min="1" max="5" required />
        </div>

        <label for="checkin"><span class="required-asterisk">*</span>Tempo di Inizio Check-in</label>
        <div class="input-group">
          <input id="checkin" name="checkin" type="time" [(ngModel)]="hotel.checkinTime" required />
        </div>

        <label for="checkout"><span class="required-asterisk">*</span>Tempo di Check-out</label>
        <div class="input-group">
          <input id="checkout" name="checkout" type="time" [(ngModel)]="hotel.checkoutTime" required />
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Aggiungi</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annulla</button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-primary" (click)="open(content)">Aggiungi Hotel</button>
