<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuovo Hotel</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form #hotelForm="ngForm" (ngSubmit)="addHotel()">
      <div class="mb-2">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="input-group input-group-sm">
          <input id="nome" name="nome" placeholder="Nome dell'hotel" [(ngModel)]="hotel.name" required />
        </div>
        <div class="mb-2">
        <label for="address" class="col-sm-2 col-form-label">Indirizzo</label>
          <div class="input-group input-group-sm">
            <input id="address" name="address" placeholder="Indirizzo dell'hotel" [(ngModel)]="hotel.address" required />
          </div>
        </div>
        <div class="mb-2">
        <label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
        <div class="input-group input-group-sm">
          <input id="telefono" name="telefono" placeholder="Telefono dell'hotel" [(ngModel)]="hotel.phone" required />
        </div>
        </div>

        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="input-group input-group-sm">
          <input id="email" name="email" type="email" placeholder="Email dell'hotel" [(ngModel)]="hotel.email" required />
        </div>
        <div class="mb-2">
        <label for="stelle" class="col-sm-2 col-form-label">Stelle</label>
        <div class="input-group input-group-sm">
          <input id="stelle" name="stelle" type="number" placeholder="Numero di stelle (1-5)" [(ngModel)]="hotel.stars" min="1" max="5" required />
        </div>
        </div>
        <label for="checkin" class="col-sm-6 col-form-label">Tempo di Inizio Check-in</label>
        <div class="input-group input-group-sm">
          <input id="checkin" name="checkin" type="time" [(ngModel)]="hotel.checkinTime" required />
        </div>
        <div class="mb-2">
        <label for="checkout" class="col-sm-6 col-form-label">Tempo di Check-out</label>
        <div class="input-group input-group-sm">
          <input id="checkout" name="checkout" type="time" [(ngModel)]="hotel.checkoutTime" required />
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Aggiungi</button>
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annulla</button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-primary" (click)="open(content)">Aggiungi Hotel</button>
