
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ricerca prenotazioni</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form #roomForm="ngForm" (ngSubmit)="searchRooms()">
      <div class="mb-3">
        <label for="address"><span class="required-asterisk">*</span>Indirizzo</label>
        <div class="input-group">
          <input id="address" name="address" placeholder="Indirizzo dell'hotel" [(ngModel)]="room.address" required />
        </div>
        <label for="nome"><span class="required-asterisk">*</span>Nome stanza</label>
        <div class="input-group">
          <input id="nome" name="address" placeholder="Nome della stanza" [(ngModel)]="room.roomType.name"  />
        </div>

        <label for="startDate"><span class="required-asterisk">*</span>Data Inizio</label>
        <div class="input-group">
          <input id="startDate" name="startDate" type="date" [(ngModel)]="room.startDate" required />
        </div>

        <label for="endDate"><span class="required-asterisk">*</span>Data Fine</label>
        <div class="input-group">
          <input id="endDate" name="endDate" type="date" [(ngModel)]="room.endDate" required />
        </div>

        <label for="price"><span class="required-asterisk">*</span>Prezzo per Notte</label>
        <div class="input-group">
          <input id="price" name="price" type="number" placeholder="Prezzo per notte" [(ngModel)]="room.roomType.pricePerNight" required />
        </div>

        <label for="capacity"><span class="required-asterisk">*</span>Numero di Posti</label>
        <div class="input-group">
          <input id="capacity" name="capacity" type="number" placeholder="Numero di posti" [(ngModel)]="room.roomType.capacity" required />
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Cerca</button>
        <button type="button" class="btn btn-secondary" (click)="modalService.dismiss()">Annulla</button>
      </div>
    </form>
  </div>


