
<head>
  <title>Lista Prenotazioni </title>
</head>
<body>
<div class="container mt-5">
  <div class="row">
    <!-- Lista delle prenotazioni -->
    <div class="col-md-8"> <!-- Definisci 8 colonne per la lista prenotazioni -->
      <div class="card">
        <div class="card-header">
          <h4>Le tue Prenotazioni</h4>
        </div>
        <ul class="list-group list-group-flush">
          <!-- Itera su tutte le prenotazioni usando *ngFor -->
          <li *ngFor="let reservation of bookings" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong>Hotel: {{ reservation.hotelName }} <br> Numero Stanza: {{reservation.roomId}} </strong><br>
              <mark>Prezzo totale: {{ reservation.totalPrice }}   </mark><br>
              <small>Check-in: {{ reservation.checkinDate }} - Check-out: {{ reservation.checkoutDate }}</small>
            </div>
            <button class="btn btn-danger btn-sm" (click)="cancelReservation(reservation.id)">
              Annulla Prenotazione
            </button>
          </li>
        </ul>
      </div>
    </div>

    <!-- Dati dell'utente -->
    <div class="col-md-4"> <!-- Definisci 4 colonne per i dati dell'utente -->
      <div class="card">
        <div class="card-header">
          <h4>Dati Utente</h4>
        </div>
        <div class="card-body">
          <p><strong>Nome:</strong> {{name}}</p>
          <p><strong>Cognome:</strong> {{surname}}</p>
          <p><strong>Email:</strong> {{email}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

